main{
    /* background-color: yellow; */
    height: auto;
}

.Bento-Grid{
    /* grid configs start*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 150px 200px 500px 450px 200px 200px 400px;
    grid-template-areas: 
    "Social-Media-10x"
    "Manage-Multiple-Accounts"
    "Maintian-Posting-Schedule"
    "Schedule-Social-Media"
    "Grow-Followers"
    "Faster-Audience"
    "Create-and-Schedule"
    "Write-using-AI"
    
    ;
    gap: 20px;
    /* grid-configs ends */

    /* 7rows, 4collumns */
    margin: 10px;
    /* background-color: aqua; */
    width: 95%;
    height: 95%;
    padding: 10px;
}

.Manage-Multiple-Accounts{
    align-items: center;
}
.Manage-Multiple-Accounts > img{
    height: 60px;
    width: 300px;
}

.sub_title{
    min-width: 250px;
}

.Maintian-Posting-Schedule{
    align-items: center;
}

.Maintian-Posting-Schedule > img{
    width: 300px;
}

.Schedule-Social-Media{
    align-items: center;
}

.Schedule-Social-Media > img{
    width: 300px;
}

.Grow-Followers{
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.Grow-Followers > img{
    width: 300px;
}
.Faster-Audience{
    justify-content: center;
    align-items: center;
}

.Faster-Audience > img{
    width: 40%;
}

.Create-and-Schedule{
    align-items: center;
    justify-content: center;
}
.Create-and-Schedule > img{
    width: 150px;
}

.Write-using-AI {
    justify-content: center;
    align-items: center;
}
.Write-using-AI > img{
    height: 250px;
    width: 300px;
    }


.attribution{
    height: 50px;
}